<p id="notice"><%= notice %></p>
<div class='reviewrating'>
<p>
  <strong>Rating:</strong>
  <%= review.rating %>
</p>
</div>
<div class='reviewcomment'>
<p>
  <strong>Comment:</strong>
  <%= review.comment %>
</p>
</div>
